body {
	color: #181818;
	font-size: 16px;
	font-weight: 400;
	line-height: 116%;
	font-family: 'Lato', sans-serif;
	position: relative;
}

ul {
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}


/*--------------- SECTION SERVICES-SINGLE START----------------- */

.main {
	flex-grow: 1;
}

.title {
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-style: normal;
	font-weight: 700;
	line-height: 116%;
	margin-bottom: 11px;
}

.text {
	color: #595566;
}

.services {
	background-image: url(../../images/services-singlr/service-single.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	padding: 144px 0;
	margin-bottom: 93px;

}

.services__text-box {
	display: inline-block;
	padding: 48px 60px;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 29px;
	max-width: 41.04vw;
}

.pointer {
	display: inline-block;
	letter-spacing: 2.32px;
	line-height: 200%;
	text-transform: uppercase;
	padding: 0px 15px;
	border-radius: 20px;
	text-align: center;
}


.services_pointer {
	color: #181818;
	background-color: #FFCC4A;
	margin-bottom: 21px;
}

.services__title {
	font-family: Cabin, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 116%;
}

/*--------------- SECTION SERVICES-SINGLE END----------------- */

/*--------------- SECTION FINANCIAL PROJECTIONS START----------------- */

.fp {
	margin-bottom: 145px;
}


.fp__top {
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.fp__top-textblock {
	max-width: 648px;
}

.fp__button {
	width: 70px;
	aspect-ratio: 1;
	background-color: transparent;
	border: none;
	border-radius: 50%;
}

.left {
	position: relative;
	background-color: #181818;
}

.left::after {
	position: absolute;
	content: '';
	background-image: url(../../images/services-singlr/arrow-white.svg);
	background-repeat: no-repeat;
	top: 23px;
	left: 25px;
	width: 25px;
	height: 25px;
}

.right {
	position: relative;
	background-color: #FFC32B;
}

.right::after {
	position: absolute;
	content: '';
	background-image: url(../../images/services-singlr/arrow-right.svg);
	background-repeat: no-repeat;
	top: 23px;
	left: 22px;
	width: 25px;
	height: 25px;
}

.fp__buttons {
	display: flex;
	gap: 26px;
}

.services-cards {
	
	width: 1607px;
	display: flex;
	justify-content: flex-start;
	max-width: 1607px;
	margin-left: auto;
	gap: 0 43px;
	margin-bottom: 203px;

}

.services-cards__item {
	background-color: #EBEBEB;
	width: 345px;
	height: 247px;
	padding: 44px 35px;
	border-radius: 20px;
}

.services-cards__img {
	margin-bottom: 24px;
}

.services-cards__title {
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.services-cards__text {
	color: #595566;
}

.active {
	background-color: #181818;
	height: 301px;
	color: #fff;
}

.active .services-cards__text {
	color: #fff;
}

/*--------------- SECTION FINANCIAL PROJECTIONS END----------------- */


/*--------------- SECTION WORK-WITH-YOU START----------------- */

.work-with-you {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 82px;
	margin-bottom: 100px;
}

.work-with-you__image-block {
	position: relative;
}

.work-with-you__image {
	position: relative;
	width: 634px;
	height: 395px;
	border-radius: 30px;
}

.work-with-you__decore-1 {
	position: absolute;
	top: -30px;
	left: -30px;
	z-index: -1;
}

.work-with-you__decore-2 {
	position: absolute;
	top: -80px;
	left: -80px;
	z-index: -2;
}

.work-with-you__pointer {
	color: #181818;
	background-color: #FFCC4A;
	margin-bottom: 21px;
}

.work-with-you__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 147.5%;
	max-width: 481px;
}

.work-with-you__list {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 19px;
	list-style: none;
	margin-left: 40px;
	margin-top: 24px;
	color: #595566;
}

.work-with-you__item {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 116%;
}

.work-with-you__item::before {
	position: absolute;
	display: block;
	left: -40px;
	content: '';
	background-image: url(../../images/about/check.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
}

/*--------------- SECTION WORK-WITH-YOU END----------------- */

/*--------------- SECTION LOGO START----------------- */

.logo-line {
	max-width: 100vw;
	margin: 0 auto 100px auto;
	padding: 0 60px;

}

.logo-line__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 0 50px;
}

/*--------------- SECTION LOGO END----------------- */

/*--------------- SECTION OURHISTORY START----------------- */

.ourhistory {
	height: 80vh;
	background-color: #181818;
	color: #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ourhistory__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	row-gap: 30px;
}

.ourhistory-pointer {
	display: inline-block;
	align-items: center;
	background-color: #4EAF4E;
}

.ourhistory__title {
	max-width: 522px;
	text-align: center;
}

.ourhistory__video-block {
	position: relative;
	border-radius: 20px;
	width: 832px;
	z-index: 1;
}

.in {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #181818;
	opacity: .4;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	z-index: 1;
}

.play-button {
	position: absolute;
	background-image: url('../../images/about/Play_btn.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 109px;
	height: 109px;
	border: none;
	z-index: 2;
	background-color: transparent;
	top: 100px;
	left: 370px;
}

.video__decore-1 {
	position: absolute;
	top: -20px;
	left: -30px;
	z-index: -1;
}

.video__decore-2 {
	position: absolute;
	top: -20px;
	left: -30px;
	z-index: -2;
	width: 200px;
	aspect-ratio: 1;
}

.video__decore-3 {
	position: absolute;
	bottom: -20px;
	right: -40px;
	width: 200px;
	aspect-ratio: 1;
	z-index: -1;

}

.video__move {
	width: 832px;
	height: 319px;
	border-radius: 20px;
}


/*--------------- SECTION OURHISTORY END----------------- */


/*--------------- SECTION PROCCESS START----------------- */

.proccess {
	display: flex;
	gap: 69px;
	margin-bottom: 100px;
	margin-top: 150px;
}

.proccess__text-block {
	max-width: 420px;
}

.proccess_pointer {
	background-color: #FFCC4A;
	margin-bottom: 7px;
}

.proccess__title {
	margin-bottom: 13px;
}

.proccess__text {
	color: #595566;
	line-height: 147.5%;
	margin-bottom: 38px;
	max-width: 405px;
}

.contact-list {
	display: flex;
	flex-direction: column;
	gap: 56px;
}

.contact-list__item {
	display: flex;
	gap: 16px;
	align-items: center;
}

.contact-list__indication {
	color: #595566;
	line-height: 147.5%;
}

.contact-list__contacts {
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 116%;
	max-width: 260px;
}

.proccess__image-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 243px 243px;
	gap: 20px;
	grid-template-areas:
	"big small-top"
	"big small-bottom"
	}


.proccess-image-big {
	grid-area: big;
	width: 316px;
	height: 506px;
	border-radius: 20px;
}

.proccess-image-small-top,
.proccess-image-small-bottom {
	width: 316px;
	height: 243px;
	border-radius: 20px;
}

.proccess-image-small-top {
	grid-area: small-top;
}

.proccess-image-small-bottom {
	grid-area: small-bottom;
}

/*--------------- SECTION PROCCESS END----------------- */

/*--------------- SECTION FAQ START----------------- */

.faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50vh;
	max-width: 725px;
	margin-bottom: 100px;
}


.faq_pointer {
	background-color: #4EAF4E;
	margin-bottom: 22px;
	color: #EBEBEB;
	align-self: center;
}

.faq-list {
	display: flex;
	flex-direction: column;
}

.faq-item {
	border-bottom: 1px solid #b3b3b3;
}

.faq__title {
	align-self: center;
	margin-bottom: 40px;
}

.faq-input {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.faq-input:checked ~ .faq-text {
	display: block;
}

.faq-input:checked + .faq-title {
	background-color: #e6e6e6;
}

.faq-input:checked + .faq-title::after {

	content: "-";

}

.faq-title {
	position: relative;
	display: block;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 116%;
	cursor: pointer;
	padding: 10px 15px;
	transition: background-color .2s ease-out;
	margin: 0;
}

.faq-title:hover {
	background-color: #e6e6e6;
}

.faq-title::after {
	content: "+";
	font-size: 30px;
	font-weight: 300;
	position: absolute;
	aspect-ratio: 1;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.faq-text {
	display: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 0 15px;
	width: 725px;
}










